body {
  background-color: #FEFEFE;
  font-family: 'Roboto', sans-serif;
}

.averages-container {
  display: flex;
  justify-content: space-around;
}

.value-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.value-container p {
  font-size: 2em;
}
 h2 {
   margin-top: 50px;
 }

 h3 {
   margin-top: 30px;
 }
